@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}



h1{
    font-family: "Signika Negative", serif;
    font-size: 55px;
}


section {
    flex: 1;  /* Esto hace que el contenido principal ocupe el espacio restante */
}

.titulo{
    text-align: center;
    margin-top: 30px;
}

.h2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.evaluacion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.evaluacion-2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-linea{
    display: flex;
    align-items: center;
    width: 100px;  /* Ancho de la línea */
    border-bottom: 1px solid #ccc;  /* Línea debajo */
    margin-left: 10px;
    padding-top: 8px;
}



.recordatorio{
    text-align: center;
    margin-top: 30px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 5px;
}


.botones{
    text-align: center;
    margin-top: 40px;
}

button{
    font-family: "Signika Negative", serif;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 15px;
    margin-inline: 15px;
    cursor: pointer;
}

button:hover{
    background-color: hwb(197 0% 1% / 0.212);  /* Azul claro al pasar el mouse */
    border: none;
}

input{
    padding-top: 5px;
    border: none;  /* Elimina el borde del input */
    outline: none;  /* Elimina el contorno al hacer clic */
    width: 100%;  /* Ocupa todo el espacio */
    text-align: center;  /* Alinea el texto al centro */
    font-size: 16px;
}

input:hover::placeholder{
    color: rgb(0, 0, 0);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input:hover {
    background-color: hwb(197 0% 1% / 0.212);  /* Azul claro al pasar el mouse */
    border: none;
}

hr{
    width: 50%; 
    margin: 20px auto; 
    margin-top: 60px;
    margin-bottom: 100px;
}


footer {
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
   ,url(/img/2.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 30px;
    width: 100%;
    margin-top: auto;  /* Empuja el footer hacia abajo si hay espacio */
}

.footer{
    display: flex;
    flex-direction: column;
}

.sobre{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
}